h1 {
    text-align: center;
}

.battle-background {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
} 

.charmander{
    position: relative;
    top: 0px;
    left: 1030px;
}

.pikachu {
    position: relative;
    top: 250px;
    left: 100px;
    width: 25%;
    height: 25%;
}

li {
    list-style: none;
}

.pikachu-stats, .charmander-stats {
    position: relative;
    background-color: white;
    width: 500px;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
}

.charmander-stats {
    bottom: 500px;
    left: 500px;
}

.pikachu-stats {
    bottom: 50px;
    left: 900px;
}

.pikachu-attack {
    position: absolute;
    left: 1300px;
    bottom: 310px;
}

.charmander-attack {
    position: absolute;
    bottom: 600px;
    left: 600px;
}

.scoreboard {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -7em;
}

.scoreboard-name-one {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.scoreboard-name-two {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}


.scoreboard-name-one, .scoreboard-name-two, .scoreboard-score-one, .scoreboard-score-two {
    padding: 10px;
    font-size: 35px;
    text-align: center;
}