h1 {
    text-align: center;
}

/* SECTION */
.battle-background {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    z-index: -1;
} 

.pikachu-image-div{
    width: 150px;
}

.charmander{
    display: flex;
    margin-top: -470px;
    margin-left: 1150px;
}

.pikachu {
    display: flex;
    margin-top: 20px;
    margin-left: 620px;
}

li {
    list-style: none;
}

.pikachu-stats, .charmander-stats {
    display: flex;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    width: 180px;
    height: 500px;
    padding: 20px;
    z-index: 1;
}

.charmander-stats {
    margin-top: -544px;
    margin-left: 1680px;
}

.pikachu-stats {
    margin-top: -500px;
    margin-left: 0px;
}

/* ASIDE AND NAV*/
.basic-attack{
    width: 50%;
    height: 50%;
}

.p-attack, .c-attack {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 12px;
    width: 150px;
    
}

.p-attack {
    margin-left: 35px;
}

.c-attack {
    margin-left: -30px;
}

.pikachu-attack {
    position: absolute;
    margin-top: -400px;
    margin-left: 5px;
}

.charmander-attack {
    position: absolute;
    margin-top: -400px;
    margin-left: 1750px;
}

/* FOOTER */
.scoreboard {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
}

.scoreboard-name-one {
    color: #880808;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.scoreboard-name-two {
    color: #00008B;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}


.scoreboard-name-one, .scoreboard-name-two, .scoreboard-score-one, .scoreboard-score-two {
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
